body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#adminView, #logoutForm, #startGame, #gameView, #secretWord {
  display: none;
}

.character {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding:10px;
}